@(page: bigpiq.shared.Page, title: Option[String], photos: Map[Long, String], size: bigpiq.shared.PageSize)

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     width="@{size.printWidth}mm"
     height="@{size.printHeight}mm"
     viewBox="0 0 @{size.printWidth} @{size.printHeight}"
     preserveAspectRatio="none">

    @for((t,i) <- page.tiles.zipWithIndex) {

    <clipPath id="@i">
        <rect x="@{t.tx1*size.w + size.offsetW}"
              y="@{t.ty1*size.h + size.offsetH}"
              width="@{(t.tx2-t.tx1)*size.w}"
              height="@{(t.ty2-t.ty1)*size.h}"
              style="fill: #fff;"/>
    </clipPath>

    <image x="@{(t.tx1-t.cx1*(t.tx2-t.tx1)/(t.cx2-t.cx1))*size.w + size.offsetW}"
           y="@{(t.ty1-t.cy1*(t.ty2-t.ty1)/(t.cy2-t.cy1))*size.h + size.offsetH}"
           width="@{((t.tx2-t.tx1)/(t.cx2-t.cx1))*size.w}"
           height="@{((t.ty2-t.ty1)/(t.cy2-t.cy1))*size.h}"
           preserveAspectRatio="none"
           xlink:href="file://@{photos(t.photo.id)}"
           clip-path="url(#@i)"/>

    }

    @if(page.tiles.isEmpty) {
    <text x="@{0.8*size.w + size.offsetW}"
          y="@{0.8*size.h + size.offsetH}"
          style="text-anchor: end; fill: #000; font-size: 0.06; font-family: 'Open Sans';">
        bigpiq
    </text>
    }

    @title.map { albumName =>

    <rect x="@{0*size.w + size.offsetW}"
          y="@{0.85*size.h + size.offsetH}"
          width="@{size.w}"
          height="@{0.15*size.h}"
          style="fill: #fff;"/>

    <text x="@{0.97*size.w + size.offsetW}"
          y="@{0.95*size.h + size.offsetH}"
          style="text-anchor: end; fill: #000000; font-size: 14; font-family: 'Open Sans';">
        @{albumName}
    </text>
    } getOrElse("")

</svg>
