@(comp: bigpiq.shared.Page, title: Option[String], photos: Map[Long, String])

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  width="297mm"
  height="210mm"
  viewBox="0 0 @math.sqrt(2) 1"
  preserveAspectRatio="none">

  @for((t,i) <- comp.tiles.zipWithIndex) {

  <clipPath id="@i">
    <rect
      x="@{t.tx1*math.sqrt(2)}"
      y="@{t.ty1}"
      width="@{math.sqrt(2)*(t.tx2-t.tx1)}"
      height="@{t.ty2-t.ty1}"
      style="fill: #000;" />
  </clipPath>

  <image
    x="@{math.sqrt(2)*(t.tx1-t.cx1*(t.tx2-t.tx1)/(t.cx2-t.cx1))}"
    y="@{t.ty1-t.cy1*(t.ty2-t.ty1)/(t.cy2-t.cy1)}"
    width="@{math.sqrt(2)*(t.tx2-t.tx1)/(t.cx2-t.cx1)}"
    height="@{(t.ty2-t.ty1)/(t.cy2-t.cy1)}"
    preserveAspectRatio="none"
    xlink:href="file://@{photos(t.photo.id)}"
    clip-path="url(#@i)"/>

  }

  @if(comp.index == 0 && !title.isEmpty) {

  <rect
    x="0"
    y="0.85"
    width="1.414"
    height="0.15"
    style="fill: #fff;" />

  <text
    x="1.35"
    y="0.95"
    style="text-anchor: end; fill: #000000; font-size: 0.06; font-family: 'Open Sans';">
      @{title.get}
  </text>
  }

</svg>
