logs
project/.sbtserver
project/project
project/target
target/*
#!target/universal
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sbtserver
storage
db/sessions/*
db/users/*
*.swp
node_modules
