logs
target/
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sbtserver
storage
db/sessions/*
db/users/*
*.swp
*.swo
*.swn
node_modules
public/photos/*
public/generated/*
public/js/bundle.js
