@import url(http://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro|Pacifico|Nunito);


html, body {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  /* overflow-x: hidden; */
}

body {
  /* padding-top: 70px; */
  /* background-color: #f0f0f0; */
}

.container-ui {
  /* padding-top: 64px; */
  /* margin-top: -64px; */
  height: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
}

.navbar-btn {
  margin-right: 8px;
}

.spread {
  margin-bottom: 30px;
}

.spread-paper {
  padding: 5px;
}

.navbar {
  margin-bottom: 0;
}

.upload-area {
  height: 100px;
  background-color: #eee;
  position: relative;
  cursor: pointer;
}

.upload-area:hover {
  box-shadow: inset 0px 0px 4px #ccc;
}

.upload-area h4 {
  position: absolute;
  color: #999;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

#photo-collection {
  padding: 10px;
}

#photo-collection img {
  background-color: #333;
  margin: 5px;
  height: 50px;
  width: 50px;
}

.album {
  margin-top: 30px;
}

.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
}

.progressbar > div {
  height: 100%;
  width: 25%;
  background-color: #337AB7;
}

.box-mosaic {
  width: 49.5%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  /* border-left: 1px dashed #999; */
}

.pages {
  padding: 5px 15px 0px 15px;
  color: #aaa;
}

/* trick to fix aspect ratio */
.box-mosaic:after {
  padding-top: 70.69%;
  display: block;
  content: '';
}

.ui-tile {
  position: absolute;
  /* border: 1px solid #ccc; */
  overflow: hidden;
  cursor: move;
}

.ui-tile img {
  position: absolute;
}

.ui-tile img:hover {
  opacity: 0.85;
}

.col-buttons button {
  color: #999;
  margin: 0 20px;
  margin-bottom: 30px;
}

.col-buttons button > i {
  padding-bottom: 10px;
}

#file-input { opacity: 0; height: 0; }

.upload-box {
  text-align: center;
  padding: 10px;
  background-color: white;
  /* color: #666; */
}
/* .upload-box button { margin-bottom: 10px; } */
.upload-box h4 { padding-top: 10px; color: #666; }

#overlay-mosaic { opacity: 0.7; }

.shadow { box-shadow: 1px 1px 4px rgba(0,0,0,0.3); }
.limited-width { max-width: 1400px; }
.centered { text-align: center; }
.hide { display: none; }

.overlay {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  transition: opacity 200ms;
}

.overlay-element {
  background-color: white;
  opacity: 0.6;
  border-radius: 4px;
  padding: 20px 20px 15px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
}

.overlay-loader img { width: auto; height: auto; }
.overlay-loader span { display: block; font-size: 16px; }

.center {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
