/* #share-btn { opacity: 0; } */
/* #upload-btn { opacity: 0; } */


#droptext { vertical-align: middle; }
.dragover { background-color: #333; }

#progress-row { opacity: 0; }
.progress { margin: 0; }
#progress-bar { width: 0%; }

.bump {
  animation-duration: 0.5s;
  animation-name: bumping;
  /* animatino-timing-function: ease-out; */
  animation-iteration-count: infinite;
}

@keyframes bumping {
  from {
    margin-top: 0px;
  }

  50% {
    margin-top: -10px;
  }

  to {
    margin-top: 0px;
  }
}
