@import url(http://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro|Pacifico);

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

/* NAVBAR */
.navbar { box-shadow: none; border: 0; }
.navbar-header > .navbar-brand {
  font-size: 32px;
  font-family: "Maven Pro";
  color: #2196f3;
  /* width: auto; */
  vertical-align: middle;
  margin-top: -7px;
}
.navbar-header > .navbar-brand:hover { color: #0c7cd5; }
.navbar-brand > img {
  display: inline;
  width: 30px;
}
.navbar-brand > small {
  font-size: 12px;
  display: block;
  margin-left: 15px;
  margin-top: -3px;
  color: #999;
}


/* TITLE */

#row-title {
  padding-bottom: 80px;
}
#row-title h3 {
  font-size: 30px;
  color: #444;
  text-shadow: 2px 2px 3px #eee;
  margin: 0;
  padding-bottom: 20px;
}

.mosaic-generated {
  width: 100%;
  margin-bottom: 100px;
}


/* PRESENTATION */

#container-intro {
  padding: 0;
  padding-bottom: 50px;
  position: relative;
}

#row-presentation > div {
  padding-left: 50px;
  padding-right: 50px;
}

#col-selection {
  padding: 3% 0; // vertical centering -- hack
}

.handwritten {
  font-family: Pacifico;
  text-align: left;
  font-size: 30px;
  padding-bottom: 15px;
}

#album-pic {
  width: 100%;
  height: auto;
  padding-top: 10%;
}
#poster-pic {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 4px #ddd;
}

#col-output .row {
  margin-bottom: 40px;
}

#row-desc {
  margin-bottom: 40px;
  text-align: center;
  padding: 40px 0;
}

#col-mosaic > .desc-text {
  margin: 10px 0;
}

.desc-text h5 {
  font-size: 18px;
  padding-bottom: 20px;
  color: #666;
  margin: 0;
  text-shadow: 1px 1px 0px #eee;
}

#photos-collection {
  padding: 0px;
  /* height: 280px; */
  margin-bottom: 20px;
  /* box-shadow: 0 1px 4px #ddd; */
}
#photos-collection img {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 33.3%;
  padding-bottom: 23%;
  height: 0;
  border: none;
  /* opacity: 0; */
  transition: opacity 400ms;
}
.muted { opacity: 0.2; }
.photo-selected { opacity: 1; }
.photo-mosaic { width: 100%; }

.limited-width { max-width: 1600px; }


/* SELECTION */
.info-phrase { margin-bottom: 70px; text-shadow: 2px 2px 3px #eee; }

/* PRODUCTS */
.info-products { margin-bottom: 70px; color: white; text-shadow: none; }
.row-wide { position: relative; margin: 0; padding: 60px 0 80px 0; }

.products-row > div { text-align: center; }
.products-row > div > p { text-align: left; }
.products-row h4 { color: white; }

.row-sharing { padding-top: 80px; }

/* .products-row .more-info { margin-top: 20px; } */


/* UTILITY CLASSES */
.centered { text-align: center; }
.full-page { min-height: 100%; }
.relative { position: relative; }
.shadow { box-shadow: 1px 1px 2px rgba(0,0,0,0.3); }
.valign { display: flex; align-items: center; }
.maxheight { height: 100%; }
.maxwidth { width: 100%; }
.spaced > * { margin: 5px 10px; }
.large { font-size: 16px; }


.arrow {
  border-radius: 50px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-down {
  position: absolute;
  top: 0;
}

.arrow-bottom {
  position: absolute;
  bottom: 0;
}

.arrow-right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #666;
}
.arrow-right-left { left: -10px; }
.arrow-right-right { right: -10px; }



/* UI */
#row-ui { position: relative; }
#row-ui .panel { position: relative; }


.col-output {
  padding-left: 50px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.col-output h4 { text-transform: none; }
.col-output .btn { padding: 30px 0 20px 0; }

#file-upload { opacity: 0; height: 0; }

#col-ui { padding-right: 40px; }
#col-ui > h4 {
  font-family: Pacifico;
}

.upload-box { text-align: center; padding: 70px 0; color: #666; }
.upload-box > button { margin-bottom: 10px; }
.upload-box h4 { padding-top: 10px; color: #666; }

#panel-share {
  /* position: absolute; */
  /* margin-right: -60px; */
  /* padding-left: 60px; */
  /* right: 0; */
  /* top: 50%; */
  /* transform: translate(0, -50%); */
  /* display: none; */
}
#panel-share a {
  /* display: block; */
  /* width: 50px; */
  margin: 5px 0;
}

.overlay {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  transition: opacity 200ms;
}

#overlay-collection { opacity: 0.3; display: none; }

.overlay-element {
  background-color: white;
  opacity: 0.6;
  border-radius: 4px;
  padding: 20px 20px 15px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text {
  opacity: 0.9;
  display: none;
  text-align: center;
  transition: opacity 150ms;
  font-size: 16px;
}
/* .overlay-text:hover { opacity: 1; } */

.overlay-loader img { width: auto; height: auto; }
.overlay-loader span { display: block; font-size: 16px; }

#progress-uploading { display: none; }
#progress-processing { display: none; }


#feedback-panel {
  width: 280px;
  position: fixed;
  right: 30px;
  bottom: -205px;
  transition: 200ms;
  display: none;
}
#feedback-question { min-height: 100px; font-size: 16px; }
#feedback-choices { vertical-align: bottom; }
#feedback-choices button { margin: 0 10px; width: auto; }

.invisible { opacity: 0; transition: opacity 200ms;}
.visible { opacity: 1; transition: opacity 200ms; }

.caret-down {
  display: block;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #ccc;
}

.caret-right {
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translate(0, -50%);
  color: #ccc;
}

#photos-collection {
  padding: 0px;
  /* height: 280px; */
  margin-top: 20px;
  margin-bottom: 20px;
  /* box-shadow: 0 1px 4px #ddd; */
}
#photos-collection img {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  float: left;
  /* width: 33.3%; */
  /* padding-bottom: 23%; */
  height: 0;
  border: none;
  /* opacity: 0; */
  transition: opacity 400ms;
}
.photo-muted { opacity: 0.2; }
.photo-selected { opacity: 1; }
.photos-mosaic { padding: 0 40px; }
.photo-mosaic { width: 100%; }

.ui-mosaic { width: 100%; }
.muted { opacity: 0.2; }

.limited-width { max-width: 1600px; }

#tryagain {
  opacity: 0.9;
  display: none;
}
