@import url(http://fonts.googleapis.com/css?family=Open+Sans|Raleway|Nunito|Lobster|Play|Signika|Maven+Pro);

html, body {
  font-family: 'Open Sans', sans-serif;
  /* padding-top: 70px; */
  height: 100%;
}

.centered { text-align: center; }


#dropzone {
  color: #fff;
  /* background-color: #fff; */
  font-size: 32px;
  transition: background-color 200ms;
  padding: 12px 0;
}
#dropzone:hover { cursor: pointer; background-color: #0c7cd5; }
.droptext { margin-bottom: 20px; }
#dropicon { display: block; }
#dropicon-box { margin-left: -20px; }
#file-upload { opacity: 0; height: 0; }
#cloud-btn {
  /* margin: 10px 0; */
  width: 100%;
}
#cloud-btn button {
  width: 92px;
  height: 74px;
}
#section-intro {
  min-height: 100%;
}


#upload-row {
  margin-top: 50px;
}

#container-intro {
  margin-bottom: 30px;
}

.navbar { box-shadow: none; border: 0; margin-bottom: 70px; z-index: 1;}

.navbar-header > .navbar-brand {
  font-size: 32px;
  /* font-weight: bold; */
  font-family: "Maven Pro";
  color: #3d7199;
  width: auto;
}

.navbar-brand > img {
  display: inline;
  margin-top: -3px;
}

.desc-text-page {
  font-size: 30px;
  color: #444;
  text-shadow: 2px 2px 3px #eee;
}
.desc-text-page small {
  display: block;
  color: #aaa;
  margin-top: 5px;
  font-size: 18px;
  display: none;
}
.desc-text-navbar {
  font-size: 1.2em;
}

.centered-nav {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 17px 0 0 0;
  text-align: center;
  margin: auto;
  z-index: -1;
}

#title-phrase {
  margin: 0 0 40px 0;
  /* color: #444; */
  text-shadow: 2px 2px 3px #eee;
  font-size: 30px;
  text-align: center;
}

/* .navbar-nav > li > a:hover { */
/*   background-color: transparent; */
/* } */

/* .title { font-family: "Raleway", sans-serif; font-weight: bold;} */


#indicator-row { display: none; }

#mosaic-row { margin-bottom: 60px; }
#mosaic-img { box-shadow: #ccc 5px 5px 15px; }

.top-btn { margin: 0 10px 20px 10px; }
/* #upload-btn { } */
#share-btn {
  margin-top: 20px;
}

#img-desc {
  color: #999;
  font-style: italic;
  font-size: 1.4em;
  float: left;
  padding-top: 10px;
  padding-left: 60px;
  opacity: 0;
  display: none;
}

/* .div-btn { display: inline-block; } */

.center-content { text-align: center; }


.full-page {
  min-height: 100%;
}

.photos-collection { padding: 0 40px; }
.photos-collection img {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 23%;
  padding-bottom: 21%;
  height: 0;
  margin: 1%;
  border: none;
}
.muted img { opacity: 0.3; }
.photo-muted { opacity: 0.2; }
.photos-mosaic { padding: 0 40px; }
.photo-mosaic { width: 97%; }


.intro-text {
  clear: both;
  text-align: center;
  padding-top: 10px;
  color: #888;
}

.row-intro { font-size: 1.2em; }
/* .row-intro .col-sm-4 { height: 100%; } */

.title-phrase {
  margin: 0 0 50px 0;
  color: #444;
  text-shadow: 2px 2px 3px #eee;
  font-size: 30px;
  text-align: center;
}
.title-phrase h3 { margin-bottom: 30px; }
.title-phrase h5 { color: #999; }

.info-phrase { margin-bottom: 70px; text-shadow: 2px 2px 3px #eee; }
.info-products { color: white; text-shadow: none; }

.bar { border-top: 1px solid #ddd; }

.row-wide { position: relative; margin: 0; padding: 70px 0 100px 0; }
.arrow-down {
  border-radius: 50px;
  /* width: 45px; */
  /* height: 45px; */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.first-section { margin-top: -30px; }
/* .first-section .arrow-down { color: #999; } */

.products-row > div {
  text-align: center;
}
.products-row > div > p { text-align: left; }

.products-row h4 { color: white; }

/* .products-row .more-info { margin-top: 20px; } */

.arrow {
  position: absolute;
  top: 37%;
  right: 0;
  transform: translate(50%, 0);
}
