@import url(http://fonts.googleapis.com/css?family=Open+Sans|Nunito);

.division {
  padding: 100px 0;
  margin-bottom: 100px;
}

.try {
  text-align: center;
}


.row-mint {
  background-color: #48CFAD;
  /* background-color: #37BC9B; */
  color: #fff;
}

.row-blue {
  background-color: #5D9CEC;
  color: #fff;
}

.row-aqua {
  background-color: #4FC1E9;
  color: #fff;
}

.row-bittersweet {
  /* background-color: #FC6E51; */
  background-color: #E9573F;
  color: #fff;
}
