@(filename: String = "")

@main("bigpiq") {

<div class="container-fluid full-page">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand logo">bigpiq</span>
        <p class="desc-text-navbar navbar-text hidden-sm hidden-md hidden-lg">Effortless photo curation</p>
      </div>
      <p class="desc-text-page centered-nav hidden-xs">Give your photos a chance.<small>You shoot, we curate.</small></p>
      <div  class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="#" data-toggle="modal" data-target="#about-modal" data-from="about-link">About</a></li>
          <li><a href="#" data-toggle="modal" data-target="#faq-modal" data-from="faq-link">FAQ & Terms</a></li>
          <li><a href="#" data-toggle="modal" data-target="#api-modal" data-from="api-link">API</a></li>
        </ul>
      </div>
      <div class="navbar-nav navbar-right">
        <!-- <button id="upload-btn" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#upload-modal" data-from="add-button"><i class="fa fa-photo fa-lg"></i> <span id="add-txt">Choose other photos</span></button> -->
      </div>
    </div>
  </div>

  <div class="row" id="progress-row">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" id="progress-bar"></div>
    </div>
  </div>

  <div class="container centered">
    <div class="row" id="mosaic-row">

      <div class="col-xs-12">
        <img id="mosaic-img" class="img-responsive center-block" @if(filename) { src="/storage/generated/@{filename}_display.jpg" } />

        <div class="img-overlay" id="img-overlay-stock"></div>

        <div class="overlay-element panel panel-default" id="btn-overlay">
          <div class="panel-body">
            <h5>Create your own mosaic</h5>
            <button class="btn btn-primary navbar-btn upload-btn" data-toggle="modal" data-target="#upload-modal" data-from="add-button"><i class="fa fa-photo fa-lg"></i> Choose your photos</button>
          </div>
        </div>

        <div id="progress-uploading" class="overlay-element overlay-loader"><img src="/assets/images/358.GIF" /><span>Uploading...</span></div>

        <div id="progress-processing" class="overlay-element overlay-loader"><img src="/assets/images/285.GIF" /><span>Processing...</span></div>

      </div>

      <div class="col-xs-12">
        <button id="share-btn" class="btn btn-success" data-toggle="modal" data-target="#share-modal" data-from="share-button"><i class="fa fa-share-alt fa-2x"></i></button>
      </div>

    </div>
  </div>
</div>

<a name="intro" />
<div class="row row-wide first-section" id="section-intro">
  <a href="#intro" class="arrow-down"><i class="fa fa-angle-down fa-3x"></i></a>
  <div class="container-fluid">
    <h5 class="info-phrase centered">Bigpiq chooses the best photos from your collection to create a mosaic effortlessly.</h5>
    <div class="row row-intro">
      <div class="col-sm-4 photos-collection muted"  data-anchor-target="#section-intro" data-bottom-top="opacity:0" data--100-bottom-top="opacity:1">
        <i class="fa fa-arrow-right fa-lg arrow hidden-xs"></i>
        <img style="background-image: url(/assets/images/people/01.jpg)">
        <img style="background-image: url(/assets/images/people/02.jpg)">
        <img style="background-image: url(/assets/images/people/03.jpg)">
        <img style="background-image: url(/assets/images/people/04.jpg)">
        <img style="background-image: url(/assets/images/people/05.jpg)">
        <img style="background-image: url(/assets/images/people/06.jpg)">
        <img style="background-image: url(/assets/images/people/07.jpg)">
        <img style="background-image: url(/assets/images/people/08.jpg)">
        <img style="background-image: url(/assets/images/people/09.jpg)">
        <img style="background-image: url(/assets/images/people/10.jpg)">
        <img style="background-image: url(/assets/images/people/11.jpg)">
        <img style="background-image: url(/assets/images/people/12.jpg)">
        <p class="intro-text">
        Your photo collection
        <!-- <button class="btn btn-primary btn-sm upload-btn center-block" data-toggle="modal" data-target="#upload-modal" data-from="add-button"><i class="fa fa-plus-square"></i> Choose photos</button> -->
        </p>
      </div>
      <div class="col-sm-4 photos-collection">
        <i class="fa fa-arrow-right fa-lg arrow hidden-xs"></i>
        <img style="background-image: url(/assets/images/people/01.jpg)">
        <img style="background-image: url(/assets/images/people/03.jpg)" class="photo-muted">
        <img style="background-image: url(/assets/images/people/02.jpg)">
        <img style="background-image: url(/assets/images/people/04.jpg)" class="photo-muted">
        <img style="background-image: url(/assets/images/people/05.jpg)">
        <img style="background-image: url(/assets/images/people/06.jpg)">
        <img style="background-image: url(/assets/images/people/07.jpg)" class="photo-muted">
        <img style="background-image: url(/assets/images/people/08.jpg)">
        <img style="background-image: url(/assets/images/people/11.jpg)" class="photo-muted">
        <img style="background-image: url(/assets/images/people/09.jpg)">
        <img style="background-image: url(/assets/images/people/12.jpg)" class="photo-muted">
        <img style="background-image: url(/assets/images/people/10.jpg)">
        <p class="intro-text">
          Bigpiq chooses the best photos
          <!-- <button class="btn btn-info btn-sm center-block" data-toggle="modal" data-target="#about-modal"><i class="fa fa-question-circle"></i> Learn how</button> -->
        </p>
      </div>
      <div class="col-sm-4 photos-mosaic">
        <img src="/assets/images/people/mosaic_small.jpg" class="photo-mosaic" />
        <p class="intro-text">
          Arranged into a pleasing mosaic
          <!-- <button class="btn btn-success btn-sm center-block"><i class="fa fa-image"></i> See examples</button> -->
        </p>
      </div>
    </div>
  </div>
</div>

<a name="products" />
<div class="row row-wide bg-primary">
  <a href="#products" class="arrow-down btn btn-primary"><i class="fa fa-angle-down fa-3x"></i></a>
  <div class="container">
    <h4 class="info-phrase info-products centered">Your Bigpiq can take all possible shapes.</h4>
    <div class="row products-row">
      <div class="col-md-3">
        <i class="fa fa-picture-o fa-5x"></i>
        <h4>Poster</h4>
        <p>
        A great way to cherish your Bigpiq creation is to have a life-size mount on your wall. Seriously, try it. Create your Bigpiq mosaic and have it delivered to your doorstep.
        </p>
      </div>
      <div class="col-md-3">
        <i class="fa fa-picture-o fa-5x"></i>
        <i class="fa fa-picture-o fa-5x"></i>
        <h4>Album</h4>
        <p>
        Bigpic albums make great coffee table books. Your last holiday photos can be on you coffee table with just a few clicks. Bigpic albums have unparallelled quality and user experience.
        </p>
      </div>
      <div class="col-md-3">
        <i class="fa fa-bars fa-5x"></i>
        <h4>Piccordion</h4>
        <p>
        Piccordions are our unique creation. They are foldable accordions of photos that can go into your wallet, on your bookshelf, or on your office table
        </p>
      </div>
      <div class="col-md-3">
        <i class="fa fa-book fa-5x"></i>
        <h4>Pop-out book</h4>
        <p>
        We can never stop loving pop-out books. Bigpic pop-outs are one of the coolest ways of showing-off your holiday pictures or explain your childhood to your grandchildren.
        </p>
      </div>
    </div>
    <div class="row hidden-xs hidden-sm">
    	<div class="col-md-3">
        <button class="btn btn-primary btn-sm pull-right more-info" data-from="product-poster" data-toggle="modal" data-target="#contact-modal" data-dismiss="modal"><i class="fa fa-info-circle"></i> More info</button>
      </div>
    	<div class="col-md-3">
        <button class="btn btn-primary btn-sm pull-right more-info" data-from="product-album" data-toggle="modal" data-target="#contact-modal" data-dismiss="modal"><i class="fa fa-info-circle"></i> More info</button>
      </div>
    	<div class="col-md-3">
        <button class="btn btn-primary btn-sm pull-right more-info" data-from="product-piccordion" data-toggle="modal" data-target="#contact-modal" data-dismiss="modal"><i class="fa fa-info-circle"></i> More info</button>
      </div>
    	<div class="col-md-3">
        <button class="btn btn-primary btn-sm pull-right more-info" data-from="product-books" data-toggle="modal" data-target="#contact-modal" data-dismiss="modal"><i class="fa fa-info-circle"></i> More info</button>
      </div>
    </div>
  </div>
</div>

<a name="contact" />
<div class="row row-wide">
  <a href="#contact" class="arrow-down btn btn-primary"><i class="fa fa-angle-down fa-3x"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h3>About us</h3>
        <h5>info@@bigpiq.com</h5>
        <p>
        We consider ourselves curators of your pictures. Our mission is to help you manage your growing collection of photos and enjoy them in ways that you have not experienced before.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="upload-modal" tabindex="-1" data-content="/upload">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row" id="cloud-btn">
          <div class="col-sm-4"><big>Choose from</big></div>
          <div class="col-sm-12 centered">
            <button class="btn btn-primary navbar-btn" id="dropbox-btn"><i class="fa fa-dropbox fa-lg"></i> Dropbox</button>
            <div data-toggle="tooltip" title="Coming soon" class="div-btn"><button class="btn btn-primary navbar-btn" id="google-btn" disabled><i class="fa fa-google-plus fa-lg"></i> Google+</button></div>
            <div data-toggle="tooltip" title="Coming soon" class="div-btn"><button class="btn btn-primary navbar-btn" id="facebook-btn" disabled><i class="fa fa-facebook fa-lg"></i> Facebook</button></div>
              <div data-toggle="tooltip" title="Coming soon" class="div-btn"><button class="btn btn-primary navbar-btn" id="flickr-btn" disabled><i class="fa fa-flickr fa-lg"></i> Flickr</button></div>
            <hr>
          </div>
        </div>
        <div class="row" id="dropzone-wrapper">
          <div id="dropzone" style="height:200px"><div class="droptext">Drop your photos here<br/><i class="fa fa-3x fa-picture-o" id="dropicon"></i></div></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-5"><big>Upload from your computer</big></div>
          <div class="col-sm-7">
            <form action="/upload" method="post" enctype="multipart/form-data" class="form-inline centered" id="upload-form">
              <input type="file" name="image" id="file-upload" multiple>
              <!-- <button type="submit" class="btn btn-primary">Upload</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="share-modal" tabindex="-1" data-content="/share">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" id="share-list">
        <div class="row">
          <div class="col-lg-3">
            <h5>Share mosaic on...</h5>
          </div>
          <div class="col-lg-9 centered">
            <button id="share-facebook" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Facebook"><i class="fa fa-facebook"></i></button>
            <button id="share-google" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Google+"><i class="fa fa-google-plus"></i></button>
            <button id="share-pinterest" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Pinterest"><i class="fa fa-pinterest"></i></button>
            <button id="share-twitter" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Twitter"><i class="fa fa-twitter"></i></button>
            <!-- <button id="share-reddit" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Reddit"><i class="fa fa-reddit"></i></button> -->
            <div data-toggle="tooltip" title="Coming soon" class="div-btn"><button id="share-instagram" class="btn btn-primary btn-lg" disabled><i class="fa fa-instagram"></i></button></div>
          </div>
        </div>
        <hr />
        <div class="row">
          <form id="email-form">
          <div class="col-lg-3"><h5>Share by email</h5></div>
          <div class="col-lg-7">
            <div class="input-group">
              <span class="input-group-addon">@@</span>
              <input class="form-control" name="from" placeholder="Your email address" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">@@</span>
              <input class="form-control" name="to" placeholder="Your friend's email address" />
            </div>
          </div>
          <div class="col-lg-2">
            <button type="submit" class="btn btn-primary center-block" id="email-btn"><i class="fa fa-send"></i></button>
            <p class="centered text-success invisible" id="sent-label">Sent!</p>
          </div>
          </form>
        </div>
        <hr />
        <!-- <div class="row"> -->
        <!--   <div class="col-lg-3"><h5>Share mosaic</h5></div> -->
        <!--   <div class="col-lg-9"> -->
        <!--     <div class="input-group"> -->
        <!--       <span class="input-group-addon"><i class="fa fa-link"></i></span> -->
        <!--       <input class="form-control" id="share-link" /> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </div> -->
        <!-- <hr /> -->
        <form action="/download" method="post" id="download-form">
        <div class="row">
          <div class="col-lg-3"><h5>Download</h5></div>
          <div class="col-lg-9">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon">@@</span>
                <input type="text" name="email" placeholder="Please enter your email address" class="form-control" id="email-input">
              </div>
              <p class="centered text-muted">We will send you a link to your poster to view it later.</p>
            </div>
          </div>
        </div>
        <div class="row">
        	<div class="col-lg-12">
            <button type="submit" class="btn btn-success pull-right" id="download-btn" disabled><i class="fa fa-cloud-download fa-lg"></i></button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div id="feedback-panel" class="hidden-xs">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Feedback</h3>
    </div>
    <div class="panel-body center-content">
      <div id="feedback-question"></div>
      <div class="form-group" id="feedback-choices">
      </div>
    </div>
  </div>
</div>

<script src="@routes.Assets.at("bower_components/requirejs/require.js")" data-main="/assets/js/main" type="text/javascript"></script>
}
