@(filename: String = "")

@main("bigpiq") {

<ul class="navbar-nav nav navbar-right">
  <li>
    <button class="btn btn-primary navbar-btn upload-btn" data-toggle="modal" data-target="#upload-modal" data-from="add-button"><i class="fa fa-plus-square fa-lg"></i> <span id="add-txt">Choose photos</span></button>
  </li>
</ul>

<ul class="navbar-nav nav navbar-right">
  <li>
    <button class="btn btn-success navbar-btn" data-toggle="modal" data-target="#share-modal" id="share-btn" data-from="share-button"><i class="fa fa-share-alt fa-lg"></i> Share + Download</button>
  </li>
</ul>

} {

<div class="row" id="progress-row">
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" id="progress-bar" style="width: 0%;"> </div>
  </div>
</div>

<div class="container">

  <div class="row" id="mosaic-row">
    <div class="col-lg-12">
      <p id="title-phrase">Create your poster automatically</p>
    </div>
    <div class="col-lg-12" id="mosaic-col">
      <img id="mosaic-img" class="img-responsive center-block" @if(filename) { src="/storage/generated/@{filename}_display.jpg" } />
      <!-- <div class="img-overlay" id="img-overlay-share" data-toggle="modal" data-target="#share-modal" data-from="share-overlay"></div> -->
      <div class="img-overlay" id="img-overlay-stock" data-toggle="modal" data-target="#upload-modal" data-from="stock-overlay">
        <!-- <div id="share-logo" class="overlay-element"><i class="fa fa-share-alt-square fa-5x"></i><br/>Share</div> -->
      </div>
      <div id="progress-loader" class="overlay-element"><img /><span></span></div>
    </div>
  </div>

  <div id="feedback-panel">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Feedback</h3>
      </div>
      <div class="panel-body center-content">
        <div id="feedback-question"></div>
        <div class="form-group" id="feedback-choices">
        </div>
      </div>
    </div>
  </div>

</div>


<div class="modal fade" id="upload-modal" tabindex="-1" data-content="/upload">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row" id="cloud-btn">
          <div class="col-sm-4"><big>Choose from</big></div>
          <div class="col-sm-12 centered">
            <button class="btn btn-primary navbar-btn" id="dropbox-btn"><i class="fa fa-dropbox fa-lg"></i> Dropbox</button>
            <div data-toggle="tooltip" title="Coming soon" class="div-btn"><button class="btn btn-primary navbar-btn" id="google-btn" disabled><i class="fa fa-google-plus fa-lg"></i> Google+</button></div>
            <div data-toggle="tooltip" title="Coming soon" class="div-btn"><button class="btn btn-primary navbar-btn" id="facebook-btn" disabled><i class="fa fa-facebook fa-lg"></i> Facebook</button></div>
              <div data-toggle="tooltip" title="Coming soon" class="div-btn"><button class="btn btn-primary navbar-btn" id="flickr-btn" disabled><i class="fa fa-flickr fa-lg"></i> Flickr</button></div>
            <hr>
          </div>
        </div>
        <div class="row" id="dropzone-wrapper">
          <div id="dropzone" style="height:200px"><div class="droptext">Drop your photos here<br/><i class="fa fa-3x fa-picture-o" id="dropicon"></i></div></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-5"><big>Upload from your computer</big></div>
          <div class="col-sm-7">
            <form action="/upload" method="post" enctype="multipart/form-data" class="form-inline centered" id="upload-form">
              <input type="file" name="image" id="file-upload" multiple>
              <!-- <button type="submit" class="btn btn-primary">Upload</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="share-modal" tabindex="-1" data-content="/share">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" id="share-list">
        <div class="row">
          <div class="col-lg-3">
            <h5>Share mosaic on...</h5>
          </div>
          <div class="col-lg-9 centered">
            <button id="share-facebook" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Facebook"><i class="fa fa-facebook"></i></button>
            <button id="share-google" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Google+"><i class="fa fa-google-plus"></i></button>
            <button id="share-pinterest" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Pinterest"><i class="fa fa-pinterest"></i></button>
            <button id="share-twitter" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Twitter"><i class="fa fa-twitter"></i></button>
            <!-- <button id="share-reddit" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Reddit"><i class="fa fa-reddit"></i></button> -->
            <div data-toggle="tooltip" title="Coming soon" class="div-btn"><button id="share-instagram" class="btn btn-primary btn-lg" disabled><i class="fa fa-instagram"></i></button></div>
          </div>
        </div>
        <hr />
        <div class="row">
          <form id="email-form">
          <div class="col-lg-3"><h5>Share by email</h5></div>
          <div class="col-lg-7">
            <div class="input-group">
              <span class="input-group-addon">@@</span>
              <input class="form-control" name="from" placeholder="Your email address" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">@@</span>
              <input class="form-control" name="to" placeholder="Your friend's email address" />
            </div>
          </div>
          <div class="col-lg-2">
            <button type="submit" class="btn btn-primary center-block" id="email-btn">Send</button>
            <p class="centered text-success invisible" id="sent-label">Sent!</p>
          </div>
          </form>
        </div>
        <hr />
        <div class="row">
          <div class="col-lg-3"><h5>Share mosaic</h5></div>
          <div class="col-lg-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-link"></i></span>
              <input class="form-control" id="share-link" />
            </div>
          </div>
        </div>
        <hr />
        <form action="/download" method="post" id="download-form">
        <div class="row">
          <div class="col-lg-3"><h5>Download</h5></div>
          <div class="col-lg-9">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon">@@</span>
                <input type="text" name="email" placeholder="Please enter your email address" class="form-control" id="email-input">
              </div>
              <p class="centered text-muted">We will send you a link to your poster to view it later.</p>
            </div>
          </div>
        </div>
        <div class="row">
        	<div class="col-lg-12">
            <button type="submit" class="btn btn-success pull-right" id="download-btn" disabled><i class="fa fa-cloud-download fa-lg"></i> Download</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<script src="@routes.Assets.at("bower_components/requirejs/require.js")" data-main="/assets/js/main" type="text/javascript"></script>
}
