@(filename: String = "")

<!DOCTYPE html>

<html>
    <head>
        <title>bigpiq - touching memories</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:description" content="Bigpiq sorts, arranges, and prints your photo collection for you. Don't let your photos rest in the digital no man's land." />

        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
        <!-- <link href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet"> -->
        <link href="@routes.Assets.at("bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet">

        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">

    </head>
    <body>


<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand logo" href="/"><img src="/assets/images/logo.png"/> bigpiq<small>Touching memories</small></a> -->
      <a class="navbar-brand logo" href="/"><img src="/assets/images/logo.png"/></a>
    </div>
    <div  class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container-fluid relative cover-background">
  <div class="cover"></div>
  <a name="intro"></a>
  <div class="container-fluid" id="container-intro">
    <div class="" id="row-title">
      <div class="centered">
        <h3>We sort, arrange, and print your photo collection for you.</h3>
        <a href="/ui" class="btn btn-success btn-lg">Try it now</a>
      </div>
    </div>
    <!-- <div class="row relative" id="row-presentation"> -->
    <!--   <div class="col-sm-6 col-sm-offset-3" id="col-mosaic"> -->
        <!-- <i class="fa fa-arrow-right fa-2x hidden-xs arrow-right arrow-right-left"></i> -->
    <!--     <div class="relative" id="box-mosaic"> -->
    <!--       <img class="photo-mosaic shadow" id="mosaic-img" src="/assets/stock/people/mosaic.jpg" /> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
</div>



<a name="about"></a>
<div class="row-wide">
  <!-- <a href="#about" class="arrow arrow-down btn btn-default"><i class="fa fa-angle-down fa-3x"></i></a> -->
  <div class="container about">
    <div class="row">
      <div class="col-md-6">
        <h3>About us</h3>
        <h5>info@@bigpiq.com</h5>
        <p>
        We consider ourselves curators of your pictures. Our mission is to help you manage your growing collection of photos and enjoy them in ways that you have not experienced before.
        </p>
        <a href="#" data-toggle="modal" data-target="#contact-modal" data-from="contact-link">Contact</a><br/>
        <a href="#" data-toggle="modal" data-target="#terms-modal" data-from="terms-link">Terms and Condition</a>
      </div>
      <!-- <div class="col-md-3"> -->
      <!--   <h4>Developers</h4> -->
      <!--   <ul class="list-unstyled"> -->
      <!--   	<li><a href="#" data-toggle="modal" data-target="#api-modal" data-from="api-link">API</a></li> -->
      <!--   </ul> -->
      <!-- </div> -->
    </div>
  </div>
</div>





<div class="modal fade" id="terms-modal" tabindex="-1" data-content="/terms">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Terms and Conditions</h4>
      </div>
      <div class="modal-body">
        <p>
        The copyright of the pictures you upload remains with you. We do not display, sell, or redistribute your pictures to anyone in any form without your prior consent. By using our service you agree to the following:
        </p>

        <ol>
          <li>
            You only give us the rights to process your pictures so that we can we create posters or other forms of  summaries for you. You also give us the right to store the prepared summaries so that we may be able to provide them to you for in the future.
          </li>

          <li>
            When you pass an order to print the posters, we provide temporary rights to third party printing services in order to be able to print your summaries. They too do not own the copyright of your pictures or the summaries prepared from them.
          </li>
        </ol>

        <p>
        Neither us nor the third party services we may engage with would re-distribute or sell your pictures in any form without your prior consent.
        </p>

        <p>
        That said, we can not be held responsible if the third parties violate your copyright or if any damages arise. Also, please note that if you are seriously concerned about the privacy of you photos, you may be advised that it may be best not to upload your photos on any internet service, including ours, despite the utmost care taken to protect the privacy of the photos.
        </p>

        <p>
        The service is provided on an “as-is” “where-is” basis. It is intended to automate the process of managing pictures, which is otherwise quite tedious manually. We can in no way be held responsible for any kind of damages arising out of the use of this service either directly or indirectly under any circumstances.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="contact-modal" tabindex="-1" data-content="/contact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Contact</h4>
      </div>
      <div class="modal-body">
        <p>Thank you for your interest in our products. We are still developing them, but we can notify your once they are ready.</p>

        <p>Please enter your email to be up to date, and drop us a message if you feel like it.</p>

        <form action="/contact" method="post" id="contact-form">
          <div class="form-group"><input type="text" class="form-control" placeholder="Your email address" name="email" required></div>
          <div class="form-group"><textarea name="message" class="form-control" placeholder="Your message (optional)" rows="5"></textarea></div>
          <button class="btn btn-success" type="submit" id="contact-submit-btn"><i class="fa fa-send"></i> Send</button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="@routes.Assets.at("bower_components/jquery/dist/jquery.js")"></script>
<script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69644-18', 'auto');
  ga('send', 'pageview');

</script>

    </body>
</html>
