@()

@main {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/interactive.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/animations.css")">

}{

<div ng-cloak ui-interface>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="/"><img src="/assets/images/logo.png"/></a>
    </div>
  </div>
</div>


  <div class="container-fluid limited-width" id="container-ui">
    <div class="row">
      <div class="col-md-2 col-buttons centered">
        <div ng-show="state > 2">
        <button class="btn btn-link btn-lg" ng-click="reset()"><i class="fa fa-th-large fa-3x"></i><br/>New</button>
        <button class="btn btn-link btn-lg" ng-click="triggerUpload()" bq-upload><i class="fa fa-plus-square-o fa-3x"></i><br/>Add photos</button>
        <button class="btn btn-link btn-lg" ng-click="shuffle()"><i class="fa fa-refresh fa-3x"></i><br/>Shuffle</button>
        </div>
      </div>
      <div class="col-md-8">

        <div id="box-mosaic">

          <div ui-composition class="ui-composition shadow" ng-show="state>1">
            <div ui-tile class="ui-tile" ng-repeat="tile in composition.tiles">
              <!-- style="height: {{100*(tile.ty2-tile.ty1)}}%; width: {{100*(tile.tx2-tx1)}}%; top: {{100*tile.ty1}}%; left: {{100*tile.tx1}}%;"> -->
              <img ng-src="/storage/photos/{{ filename(composition.photos[tile.imgindex]) }}" draggable="false"/>
              <!-- style="height: {{100*scaleY}}%; width: {{100*scaleX}}%; top: {{-tile.cy1*scaleY*100}}%; left: {{-tile.cx1*scaleX*100}}%"/> -->
            </div>
          </div>

          <div class="overlay fade-in" id="overlay-mosaic" ng-show="state!==3"></div>
          <div class="overlay-element overlay-loader fade-in" ng-show="state===1 || state===5"><img src="/assets/images/358.GIF" /><span>Uploading...</span></div>
          <div class="overlay-element overlay-loader fade-in" ng-show="state===2 && isEmpty(composition)"><img src="/assets/images/285.GIF" /><span>Processing...</span></div>
          <div class="overlay-element overlay-loader fade-in" ng-show="state===2 && !isEmpty(composition)"><img src="/assets/images/285.GIF" /><span>Shuffling...</span></div>

          <div class="panel panel-primary center" id="upload-box" ng-show="state==0" ui-upload>
            <div id="dropzone">
              <button class="btn btn-primary btn-lg" ng-click="triggerUpload()"><i class="fa fa-upload"></i>&nbsp; Upload photos </button>
              <!-- <div class="cloud-btn"> -->
              <!--   <button class="btn btn-primary" id="dropbox-btn" data-toggle="tooltip" data-placement="left" title="Import from Dropbox"><i class="fa fa-dropbox fa-lg"></i></button> -->
              <!--   <button class="btn btn-primary" id="google-btn" disabled><i class="fa fa-google-plus fa-lg"></i></button> -->
              <!--   <button class="btn btn-primary" id="facebook-btn" disabled><i class="fa fa-facebook fa-lg"></i></button> -->
              <!--   <button class="btn btn-primary" id="flickr-btn" disabled><i class="fa fa-flickr fa-lg"></i></button> -->
              <!-- </div> -->
              <h4>or drop here</h4>
              <i class="fa fa-4x fa-download" id="dropicon"></i>
            </div>
            <input type="file" name="image" id="file-upload" ng-bind="fileupload" ng-model="files" multiple>

          </div>


        </div>
      </div>
      <div class="col-md-2 col-buttons centered">
        <div ng-show="state > 2">
        <button class="btn btn-link btn-block btn-lg" data-toggle="modal" data-target="#order-modal"><i class="fa fa-shopping-cart fa-3x"></i><br/>Order a poster</button>
        <button class="btn btn-link btn-block btn-lg" data-toggle="modal" data-target="#share-modal" data-from="share-button" data-toggle="tooltip" data-placement="top" title="Share on social networks"><i class="fa fa-share-alt fa-3x"></i><br/>Share</button>
        <button class="btn btn-link btn-block btn-lg" data-toggle="modal" data-target="#send-modal" data-from="send-button" data-toggle="tooltip" data-placement="top" title="Send to a friend"><i class="fa fa-at fa-3x"></i><br/>Send</button>
        <button class="btn btn-link btn-block btn-lg" data-toggle="modal" data-target="#download-modal" data-from="download-button" data-toggle="tooltip" data-placement="top" title="Download"><i class="fa fa-download fa-3x"></i><br/>Download</button>
        </div>
      </div>
    </div>
    
  </div>


@modal.share()
@modal.send()
@modal.download()
@modal.order()

</div>

<script src="@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")"></script>
<script src="@routes.Assets.at("bower_components/angular/angular.js")"></script>
<script src="@routes.Assets.at("bower_components/angular-resource/angular-resource.js")"></script>
<script src="@routes.Assets.at("bower_components/angular-cookies/angular-cookies.js")"></script>
<script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>

<script src="@routes.Assets.at("js/test-data.js")"></script>
<script src="@routes.Assets.at("js/app.js")"></script>
<script src="@routes.Assets.at("js/ui.js")"></script>
<script src="@routes.Assets.at("js/helpers.js")"></script>
<script src="@routes.Assets.at("js/services.js")"></script>
<script src="@routes.Assets.at("js/resources.js")"></script>
<script src="@routes.Assets.at("js/modal.js")"></script>
}
