@()

<html>
<head>
  <title>bigpiq</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta property="og:description" content="Bigpiq sorts, arranges, and prints your photo collection for you. Don't let your photos rest in the digital no man's land." /> -->
  <!-- <link href="@routes.Assets.at("css/custom-bootstrap.css")" rel="stylesheet"> -->
  <link href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.css")" rel="stylesheet">
  <link href="@routes.Assets.at("bower_components/Bootflat/bootflat/css/bootflat.min.css")" rel="stylesheet">
  <!-- <link href="@routes.Assets.at("bower_components/flat-ui/dist/css/flat-ui.min.css")" rel="stylesheet"> -->
  <!-- <link href="@routes.Assets.at("x_paper_kit_1.0/assets/css/ct-paper.css")" rel="stylesheet"> -->
  <link href="@routes.Assets.at("bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet">

  <!-- <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")"> -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/interactive.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/animations.css")">

</head>

<body>

  <!-- <div class="navbar navbar-inverse navbar-fixed-top"> -->
  <!--   <div class="container-fluid"> -->
  <!--   	<div class="navbar-header"> -->
  <!--       <a href="/"><img src="/assets/images/logo-white.png"/></a> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->

  <div id="app"></div>

  <script src="@routes.Assets.at("js/bundle.js")" type="text/javascript" charset="utf-8"></script>

  </body>
</html>

