@()

<html>
<head>
  <title>bigpiq</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta property="og:description" content="Bigpiq sorts, arranges, and prints your photo collection for you. Don't let your photos rest in the digital no man's land." /> -->
  <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
  <!-- <link href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet"> -->
  <link href="@routes.Assets.at("bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
  <!-- <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")"> -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("bower_components/angular-material/angular-material.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/interactive.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/animations.css")">

</head>
<body ng-app="ui" ng-cloak>
<ui-controller>

  <md-toolbar>
    <div class="md-toolbar-tools" ui-controls>
      <md-button href="/"><img src="/assets/images/logo.png"/></md-button>
    </div>
  </md-toolbar>


  <div  layout="row" layout-align="center center" class="container-ui">
    <!-- <div flex class="col-buttons centered"> -->
    <!--   <div layout="column" ng-show="state > 2"> -->
    <!--     <md-button class="md-icon" ng-click="reset()"><i class="fa fa-th-large fa-3x"></i><br/>New</md-button> -->
    <!--     <md-button class="md-icon" ng-click="triggerUpload()" bq-upload><i class="fa fa-plus-square-o fa-3x"></i><br/>Add photos</md-button> -->
    <!--     <md-button class="md-icon" ng-click="shuffle()"><i class="fa fa-refresh fa-3x"></i><br/>Shuffle</md-button> -->
    <!--   </div> -->
    <!-- </div> -->

    <md-progress-linear md-mode="determinate" ng-value="100 * uploadedFiles / nFiles" class="md-primary"></md-progress-linear>

    <div id="box-mosaic" flex="66">
      <!-- <ui-composition composition="composition" ng-show="!isEmpty(composition)"></ui-composition> -->
      <ui-upload></ui-upload>
    </div>

    <!-- <div class="col-buttons centered" flex> -->
    <!--   <div layout="column" ng-show="state > 2"> -->
    <!--     <md-button class="md-icon" ng-click="showSend($event)" data-toggle="modal" data-target="#send-modal"><i class="fa fa-paper-plane fa-3x"></i><br/>Send</md-button> -->
    <!--     <md-button class="md-icon" ng-click="showDownload($event)" data-toggle="modal" data-target="#download-modal"><i class="fa fa-download fa-3x"></i><br/>Download</md-button> -->
    <!--     <md-button class="md-icon" ng-click="showShare($event)" data-toggle="modal" data-target="#share-modal"><i class="fa fa-share-alt fa-3x"></i><br/>Share</md-button> -->
    <!--     <md-button class="md-icon" ng-click="showOrder($event)" data-toggle="modal" data-target="#order-modal"><i class="fa fa-shopping-cart fa-3x"></i><br/>Order</md-button> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>

</ui-controller>


<script src="@routes.Assets.at("bower_components/jquery/dist/jquery.js")"></script>
<script src="@routes.Assets.at("bower_components/bacon/dist/Bacon.js")"></script>
<script src="@routes.Assets.at("bower_components/angular/angular.js")"></script>
<script src="@routes.Assets.at("bower_components/angular-resource/angular-resource.js")"></script>
<script src="@routes.Assets.at("bower_components/angular-cookies/angular-cookies.js")"></script>
<script src="@routes.Assets.at("bower_components/angular-animate/angular-animate.js")"></script>
<script src="@routes.Assets.at("bower_components/angular-aria/angular-aria.js")"></script>
<script src="@routes.Assets.at("bower_components/angular-material/angular-material.js")"></script>
<script src="@routes.Assets.at("bower_components/angular-bacon/dist/angular-bacon.js")"></script>
<!-- <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script> -->

<!-- <script src="@routes.Assets.at("js/test-data.js")"></script> -->
<script src="@routes.Assets.at("js/app.js")"></script>
<script src="@routes.Assets.at("js/collection.js")"></script>
<script src="@routes.Assets.at("js/helpers.js")"></script>
<script src="@routes.Assets.at("js/composition.js")"></script>
<script src="@routes.Assets.at("js/user.js")"></script>
<script src="@routes.Assets.at("js/modal.js")"></script>

  </body>
</html>

