@(title: String)(navbar: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    </head>
    <body>

      <div class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="navbar-brand">bigpiq</li>
            <li><a href="#" data-toggle="modal" data-target="#about-modal">About</a></li>
            <li><a href="#" data-toggle="modal" data-target="#faq-modal">FAQ & Terms</a></li>
            <li><a href="#" data-toggle="modal" data-target="#product-modal">Products</a></li>
            <li><a href="#" data-toggle="modal" data-target="#api-modal">API</a></li>
          </ul>
          @navbar
        </div>
      </div>

      @content

      <div class="modal fade" id="about-modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">About</h4>
            </div>
            <div class="modal-body">
              <p>
              We consider ourselves curators of your pictures. Our mission is to help you manage your growing collection of photos and enjoy them in ways that you have not experienced before.
              </p>

              <p>
              For instance, we make beautiful picture summaries for you automatically. Done manually, this takes hours or even days of effort. We use our expertise in the field of computer vision, machine learning, image processing, and artificial intelligence to create algorithms that understand the content of your pictures and create aesthetically pleasing presentations in just a few seconds.
              </p>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Creating a poster</h3>
                </div>
                <div class="panel-body">
                  You may either upload a set of pictures from your computer or you may import your pictures from Dropbox, Facebook and other cloud providers. After the upload is over, we create the summary and display it on your screen.
                </div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Sharing</h3>
                </div>
                <div class="panel-body">
                  You can click on ‘Share’ to download the poster in full resolution for emailing or printing, or share it directly on Facebook, Google+, and more.
                </div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Automatic picture management</h3>
                </div>
                <div class="panel-body">
                  People spend a great deal of time organizing their photos after a trip or some such event. We make sure you never have to go through the painstaking process of organizing your photos again. We choose the best of them, and automatically create eye-catching summaries in the form of posters and albums. You can print them, email them, or share them on social media. You can also let us print your posters and albums for you so you may mount them on your walls or place them on your coffee tables, and cherish them, over and over. 
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="faq-modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">FAQ & Terms</h4>
            </div>
            <div class="modal-body">

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Who owns the copyright to my photos?</h3>
                </div>
                <div class="panel-body">
                  You do. By uploading the pictures you only give us the right to process them and store the processed summaries so that we may be able to provide them to you in the future. You also give us the right to pass them to third party service who may print them for you in some form.
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Sometimes my images are cropped incorrectly. Why?</h3>
                </div>
                <div class="panel-body">
                  Our algorithms can make mistakes. It is not our intention. We are constantly working to improve them.
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Why does the upload take so much time?</h3>
                </div>
                <div class="panel-body">
                  The cause is likely to be be one or more of the following:
                  <ul>
                    <li>The internet connection is slow</li>
                    <li>You are uploading many pictures (more than a hundred)</li>
                    <li>The photos are very large (greater than 5 MB each)</li>
                  </ul>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Copyright notice / Terms and conditions</h3>
                </div>
                <div class="panel-body">
                  <p>
                  The copyright of the pictures you upload remains with you. We do not display, sell, or redistribute your pictures to anyone in any form without your prior consent. By using our service you agree to the following:
                  </p>

                  <ol>
                    <li>
                      You only give us the rights to process your pictures so that we can we create posters or other forms of  summaries for you. You also give us the right to store the prepared summaries so that we may be able to provide them to you for in the future.
                    </li>

                    <li>
                      When you pass an order to print the posters, we provide temporary rights to third party printing services in order to be able to print your summaries. They too do not own the copyright of your pictures or the summaries prepared from them.
                    </li>
                  </ol>

                  <p>
                  Neither us nor the third party services we may engage with would re-distribute or sell your pictures in any form without your prior consent.
                  </p>

                  <p>
                  That said, we are can not be held responsible if they violate your copyright or if any damages arise. Also, if you are concerned about the privacy of you pictures, you may want to avoid uploading them on our service (or for that matter any other such Internet service) altogether.
                  </p>

                  <p>
                  The service is provided on an “as-is” “where-is” basis. It is intended to automate the process of managing pictures, which is otherwise quite tedious manually. We can in no way be held responsible for any kind of damages arising out of the use of this service either directly or indirectly under any circumstances.
                  </p>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="product-modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Product</h4>
            </div>
            <div class="modal-body">
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl ligula, egestas in massa a, auctor dictum neque. Duis venenatis enim tortor. Morbi at mi eu felis sollicitudin varius eget id odio. Nullam imperdiet, ipsum eget convallis sagittis, purus nisl lobortis odio, id maximus elit tellus id orci. Vestibulum mollis ac mi quis porttitor. Ut eleifend eleifend sollicitudin. Cras placerat augue tellus, ut dictum diam auctor at. Sed dapibus sit amet justo non accumsan. Suspendisse pellentesque arcu eu ultricies ornare. Vivamus lobortis scelerisque nisi, in pharetra mi interdum a. Aliquam quis risus vel sem varius facilisis. Sed at scelerisque velit. 
              </p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="api-modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">API</h4>
            </div>
            <div class="modal-body">
              <p>
              We provide APIs for our following core technologies:
              </p>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Cropping</h3>
                </div>
                <div class="panel-body">
                  Automatic image cropping and resizing to fit any aspect ratio and any required resolution.
                </div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Dominant colors</h3>
                </div>
                <div class="panel-body">
                  Compute dominant colors in an image
                </div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Image selection</h3>
                </div>
                <div class="panel-body">
                  Choosing the best subset of images from several images.
                </div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Image attractiveness</h3>
                </div>
                <div class="panel-body">
                  Image attractiveness score computation.
                </div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Enhancement</h3>
                </div>
                <div class="panel-body">
                  Automatic image correction and enhancement.
                </div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Face detection</h3>
                </div>
                <div class="panel-body">
                  Given a photo, our API detects if one or more faces are present, as well as their location in the image and size.
                </div>
              </div>

              We also provide the complete package of automatic summary creating to be run on standalone photobooths, printing kiosks, and photo printing websites.
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-69644-18', 'auto');
ga('send', 'pageview');

      </script>
    </body>
</html>
