@(head: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>bigpiq</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet">

        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">

        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

        @head
    </head>
    <body>

      @content

    </body>
</html>
