@(filename: String)

@main {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/ui.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/animations.css")">

}{

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="/"><img src="/assets/images/logo.png"/></a>
    </div>
  </div>
</div>


<div ui-interface>
  <div class="ui-image" ng-repeat=""></div>
</div>


<script src="@routes.Assets.at("bower_components/requirejs/require.js")" data-main="/assets/js/ui"></script>
}
