@main("bigpiq") {

  <div class="container-fluid limited-width">
    <div class="row" id="row-ui">
      <div class="col-sm-3" id="col-ui">
        <div class="panel panel-primary" id="panel-upload">
          <div class="panel-body" id="dropzone">
            <div class="invisible" id="cloud-btn">
              <button class="btn btn-primary" id="dropbox-btn" data-toggle="tooltip" data-placement="left" title="Import from Dropbox"><i class="fa fa-dropbox fa-lg"></i></button>
              <button class="btn btn-primary" id="google-btn" disabled><i class="fa fa-google-plus fa-lg"></i></button>
              <button class="btn btn-primary" id="facebook-btn" disabled><i class="fa fa-facebook fa-lg"></i></button>
              <button class="btn btn-primary" id="flickr-btn" disabled><i class="fa fa-flickr fa-lg"></i></button>
            </div>
            <p id="droptext">Upload some photos</p>
            <i class="fa fa-3x fa-upload" id="dropicon"></i>
            <!-- <i class="fa fa-inbox fa-3x" id="dropicon-box"></i> -->
            <input type="file" name="image" id="file-upload" multiple>
          </div>
        </div>
        <i class="fa fa-caret-down fa-2x hidden-xs caret-down"></i>
        <div class="relative">
          <div class="clearfix shadow" id="photos-collection"></div>
          <i class="fa fa-caret-right fa-2x hidden-xs caret-right"></i>
          <div id="progress-uploading" class="overlay-element overlay-loader"><img src="/assets/images/358.GIF" /><span>Uploading...</span></div>
          <div class="overlay" id="overlay-collection"></div>
        <!-- <p class="overlay-element overlay-text shadow">Your best photos are automatically selected</p> -->
        </div>
      </div>
      <div class="col-sm-7" id="col-mosaic">
        <div id="box-mosaic">
          <img class="photo-mosaic shadow" id="mosaic-img" />
          <div class="overlay" id="img-overlay-stock"></div>
          <div id="progress-processing" class="overlay-element overlay-loader"><img src="/assets/images/285.GIF" /><span>Processing...</span></div>
          <!-- <div class="invisible" id="panel-share"> -->
          <!--   <a data-toggle="modal" data-target="#share-modal" data-from="share-button" data-toggle="tooltip" data-placement="right" title="Share on social networks" class="btn btn-success" id="dropbox-btn"><i class="fa fa-share-alt fa-lg"></i></a> -->
          <!--   <a data-toggle="modal" data-target="#send-modal" data-from="send-button" data-toggle="tooltip" data-placement="right" title="Send to a friend" class="btn btn-success" id="google-btn"><i class="fa fa-paper-plane fa-lg"></i></a> -->
          <!--   <a data-toggle="modal" data-target="#download-modal" data-from="print-button" data-toggle="tooltip" data-placement="right" title="Download to print" class="btn btn-success" id="facebook-btn"><i class="fa fa-print fa-lg"></i></a> -->
          <!--   <a data-toggle="modal" data-target="#download-modal" data-from="download-button" data-toggle="tooltip" data-placement="right" title="Download" class="btn btn-success" id="flickr-btn"><i class="fa fa-download fa-lg"></i></a> -->
          <!-- </div> -->
        </div>
        <!-- <p class="intro-text">And arranged into a pleasing mosaic</p> -->
        <!-- <p class="overlay-element overlay-text shadow">Your best photos are arranged into a mosaic</p> -->
      </div>
      <div class="col-sm-2 col-output centered btn-group-vertical">
        <i class="fa fa-caret-right fa-2x hidden-xs caret-right"></i>
        <div class="btn btn-default btn-block"><i class="fa fa-share-alt fa-3x"></i><h4>Share</h4></div>
        <div class="btn btn-default btn-block"> <i class="fa fa-book fa-3x"></i><h4>Photo Album</h4></div>
        <div class="btn btn-default btn-block"><i class="fa fa-photo fa-3x"></i><h4>Poster</h4></div>
      </div>
    </div>
  </div>
}
