<md-dialog md-theme="default">
  <form method="post" ng-submit="download()" name="downloadForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
          <i class="fa fa-download"></i>&nbsp; Download
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-input-container>
        <label>Email address</label>
        <input type="email" ng-model="email" required>
      </md-input-container>
      <p class="text-muted">We will send you a link to your poster to view it later.</p>
    </md-dialog-content>
    <div class="md-actions">
      <md-button type="submit" class="md-raised md-primary" ng-disabled="!downloadForm.$valid"><i class="fa fa-cloud-download fa-lg"></i> {{ $scope.button ? $scope.button : 'Download'}}</md-button>
    </div>
  </form>
</md-dialog>
