<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <i class="fa fa-share-alt"></i>&nbsp; Share on...
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-button id="share-facebook" ng-click="shareFacebook()" class="md-fab md-primary"><i class="fa fa-facebook fa-2x"></i></md-button>
    <md-button id="share-google" ng-click="shareGoogle()" class="md-fab md-primary"><i class="fa fa-google-plus fa-2x"></i></md-button>
    <md-button id="share-pinterest" ng-click="sharePinterest()" class="md-fab md-primary"><i class="fa fa-pinterest fa-2x"></i></md-button>
    <md-button id="share-twitter" ng-click="shareTwitter()" class="md-fab md-primary"><i class="fa fa-twitter fa-2x"></i></md-button>
    <!-- <button id="share-reddit" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Share on Reddit"><i class="fa fa-reddit"></i></button> -->
    <!-- <div data-toggle="tooltip" title="Coming soon" class="div-btn"><button id="share-instagram" class="btn btn-primary btn-lg" disabled><i class="fa fa-instagram"></i></button></div> -->
  </md-dialog-content>

  <div class="md-actions">
    <md-button class="md-raised md-primary">Cancel</md-button>
  </div>
</md-dialog>
